################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MachineDetailsAPI
/MachineDetailsAPI/obj/project.nuget.cache
